<h2>Scrum board</h2>

<div scrum-sprint="board.sprint"></div>

<div class="row">
  <div class="col-sm-12">
    <button class="btn" ng-click="board.createStory()">
      <i class="fa fa-plus-circle add-story"></i>
      Create a story
    </button>
    <button class="btn" ng-click="board.addStory()">
      <i class="fa fa-plus-circle add-story"></i>
      Add a story
    </button>
  </div>
</div>

<div class="row board">
  <div ng-repeat="(statusName, statusCode) in ::board.STATUS" class="col-sm-4 status {{:: statusName.toLowerCase() }}">

    <h3>
      {{:: statusName | storyStatusName }}
    </h3>

    <ul class="stories"
        ng-drop="true"
        ng-drop-success="board.updateStatus($data, statusCode)">
      <li ng-repeat="story in board.stories | filter:{ status: statusCode }"
          ng-drag="true"
          ng-drag-data="story"
          ng-center-anchor="true"
          scrum-story="::story">
      </li>
    </ul>

  </div>
</div>